extends ../../common/views/layouts/default.modern.pug

//- 站点描述
append title
  title Hong Kong Airlines
append description
  meta(name='keywords', content='在线预办值机手续,香港航空官方网站, 线上订机票,港航假期,温哥华机票,首尔机票,奥克兰机票,金鹏会员,航班提示,积分兑换, 机+酒,特价机票,HX,HKA,年票,东京机票,香港自由行,免票兑换,短信服务,餐食预订,商务舱,旅游套票,金鹏积分,销售热线,金鹏俱乐部')
  meta(name='description', content='香港航空特价机票航线覆盖香港、北京、曼谷、台北、奥克兰、温哥华、大阪、东京及其它亚太地区城市，立刻预订机票，计划你的旅程！香港航空网站提供24小时订票服务· 网上预办值机及航班动态查询')
  link(rel='shortcut icon', href=`${assetsUrl}images/favicon.png${version}`)
    
append js
  script.
    window.baseUrl = '!{baseUrl}';
    window.assetsUrl = '!{assetsUrl}';
    window.version = '!{version}';
  script(src=`${baseUrl}dist/js/main.js${version}`)

//- 正文
append content
  #HKA-content
    router-view